<nav class="navbar navbar-dark bg-dark p-2">
    <div class="d-flex align-items-center gap-2">
<span class="material-symbols-outlined">
undo
</span>
<span class="material-symbols-outlined">
redo
</span>
</div>
<div class="d-flex align-items-center gap-2 ms-auto">
<button class="primary-button"> <span class="material-symbols-outlined">
palette
</span> Theme</button>
<button class="btn text-light d-flex align-items-center gap-2">
    <span class="material-symbols-outlined">
visibility
</span>
Preview
</button>
<button class="btn text-light d-flex align-items-center gap-2">
    <span class="material-symbols-outlined">
code
</span>
Code
</button>
<button class="primary-button">
    <span class="material-symbols-outlined">
download
</span>
    Export</button>
    <button class="primary-button">
        <span class="material-symbols-outlined">
file_export
</span>
Save
    </button>
</div>
</nav>
