<div class="container-fluid">
<div
  cdkDropList
  cdkDropListId="widgets-list"
  [cdkDropListData]="dragDropService.widgets"
  class="widgets-container"
>
  @for (widget of dragDropService.widgets; track $index) {
    @if(widget.title) {
      <h2 class="sub-heading">{{widget.title}}</h2>
    }
    <button 
      cdkDrag 
      class="primary-button widgets w-100 my-3"
      (cdkDragStarted)="onDragStarted($event, widget)"
      (cdkDragEnded)="onDragEnded($event)"
    >
      <span class="material-symbols-outlined">{{ widget.icon }}</span>
      <span class="widget-name">{{ widget.name }}</span>
    </button>
  }
</div>

</div>